PROJECT_NAME=
SERVER_HOST=
ENV=
CLIENT_ID=

DB_USER=
DB_PW=
DB_NAME=

DB_HOST=
UNIX_PATH=

EMAIL_TEMPLATES_DIR=
SMTP_PORT=
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=
EMAILS_FROM_NAME=
